<!DOCTYPE html>
<html ng-app="jstesting">

<head>
    <title>JS Testing</title>
    <!--styles-->
    <link href="../libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
    <!--JS libraries-->
    <script src="../libs/angular/angular.js"></script>
    <script src="../libs/angular-route/angular-route.js"></script>
    <!--frontEnd App-->
    <script src="../js/angularapp.js"></script>
    <!--routes-->
    <script src="../js/routes/ngRouting.js"></script>

    <!--controllers-->

    <!--directives-->

    <!--services-->

    <!--components-->
    <script src="../components/Expenses/expensesController.js"></script>
    <script src="../components/Expenses/expensesDataServices.js"></script>
    <script src="../components/Expenses/Expense.js"></script>

</head>

<body>
    <div ng-include="'topNav.html'"></div>
    <div>
        <div ng-view></div>
    </div>


</body>

</html>