<!DOCTYPE html>
<html ng-app="jstesting">

<head>
    <title>JS Testing</title>
    <link href="../libs/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
    <script src="../libs/angular/angular.js"></script>
    <script src="../libs/angular-route/angular-route.js"></script>
    <script src="../js/angularapp.js"></script>
    <script src="../js/routes/ngRouting.js"></script>
</head>

<body>
    <div ng-include="'topNav.html'"></div>
    <div>
        <div ng-view></div>
    </div>


</body>

</html>